.leftMenu {
    flex: 1;
    min-width: 0;
    /* overflow: hidden; */
    /* overflow-x: auto;
    overflow-y: visible; */
}

.leftMenu,
.rightMenu {
    border: 0;
}

.menuButton {
    margin: 8px 20px;
    align-self: center;
}