.pickerPanel * {
    font-size: 16px!important;
}

.pickerPanel :global(.ant-picker-header) > button:first-child,
.pickerPanel :global(.ant-picker-header) > button:last-child {
    display: none;
}

.pickerPanel :global(.ant-picker-header) > button {
    padding: 0 20px;
}

.pickerPanel :global(.ant-picker-cell-inner) {
    height: 36px;
    line-height: 36px;
    min-width: 36px;
}

.pickerPanel :global(.ant-picker-panel) > div:first-child {
    width: auto;
    max-width: 400px;
}

.pickerPanel :global(.ant-picker-cell::before) {
    height: 36px;
}