.wrapper {
    padding: 0 5px;
    border-left: 1px solid #ddd;
    position: relative;
}

.date {
    position: relative;
}

.date .today {
    color: white;
    background: #1890ff;
    border-radius: 2px;
    padding: 1px 4px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.court {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

tbody.blur {
    filter: blur(3px);
}

.infoOverlay {
    position: absolute;
    text-align: center;
    top: 48px;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: #ffffffaa;
}

.linkButton {
    white-space: normal;
    height: auto;
}

.adminActions button  {
    font-size: 13px;
    color: rgba(0,0,0,.45);
}