.wrapper {
    font-weight: 400;
}

.repeatTypes {
    line-height: normal;
}

.repeatTypes label {
    margin-top: 2px;
    margin-right: 4px;
}

.dates {
    margin-top: 10px;
}

.dates > * {
    display: block;
    margin-left: 0!important;
    height: 32px;
    line-height: 32px;
}

.dates .extra {
    font-size: 13px;
    font-style: italic;
}

.dates .danger,
.dates .danger .date,
.dates .danger .extra {
    color: #ff4d4f;
}

.dates .unchecked .date {
    text-decoration: line-through;
}

.buttons {
    margin-top: 10px;
}
.buttons > * {
    margin-right: 10px;
}
