.hoursTableWrapper {
    padding-top: 48px;
    background: #fff;
    border-right: 1px solid #ddd;
}

.hoursTable th {
    height: 38px;
}

.hour {
    line-height: 13px;
    padding: 0 8px;
}

.hour .til {
    color: #bbb;
    font-size: 11px;
}

.highlight::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -1px;
    height: 40px;
    z-index: 10;
    border-top: 2px solid #1890ff;
    border-bottom: 2px solid #1890ff;
}