.nameInput {
    width: 200px;
}

.plain {
    display: inline-block;
    padding: 6.5px 11px;
}

.datePicker {
    cursor: pointer;
}

.datePicker input {
    font-weight: 600;
    width: 100px;
}

.datePicker :global(.ant-picker-suffix) {
    margin-left: 0;
}

.datePicker :global(.ant-picker-suffix) button {
    padding-left: 0;
}