.outer {
    position: relative;
}

.inner {
    position: relative;
    overflow: scroll;
}

.outer::after,
.outer::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 30px;
    transition: box-shadow 0.3s;
    content: '';
    pointer-events: none;
}

.outer::before {
    left: 0;
}

.outer::after {
    right: 0;
}

.outer.leftScroll::before {
    box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.35);
}


.outer.rightScroll::after {
    box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.35);
}