.cell {
    cursor: default;
    padding: 3px 3px;
}

.cell.enabled {
    cursor: pointer;
}

.slot {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 5px;
    border-radius: 2px;
    background: #9dc88d;
    color: #fff;
    opacity: 0.5;
    height: 32px;
    font-size: 12px;
    line-height: 18px;
}

.cell:not(.enabled) .slot {
    background: #aaa;
}

.cell.enabled:hover .slot {
    opacity: 1;
}

.cell.enabled .slot:not(.reserved)::after {
    content: attr(data-free-text);
}

.cell.enabled:hover .slot:not(.reserved)::after {
    content: attr(data-free-text-hover);
}

.cell .disabled::after {
    content: attr(data-disabled-text);
}

.reserved:not(.disabledText) {
    opacity: 1;
    color: #fff;
    background: #FF4136;
}