.cell {
    cursor: default;
    padding: 3px 3px;
    transition: all 1s ease;
}

.cell.enabled {
    cursor: pointer;
}

.slot {
    transition: background-color .3s ease;
    position: relative;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 5px;
    border-radius: 2px;
    background: #9dc88d;
    color: #fff;
    opacity: 0.5;
    height: 32px;
    font-size: 12px;
    line-height: 18px;
}

.cell:not(.enabled) .slot {
    background: #aaa;
}

.cell.enabled:hover .slot {
    opacity: 1;
}

.cell.enabled .slot:not(.reserved)::after {
    content: attr(data-free-text);
}

.cell.enabled:hover .slot:not(.reserved)::after {
    content: attr(data-free-text-hover);
}

.cell .disabled::after {
    content: attr(data-disabled-text);
}

.reserved:not(.disabledText) {
    opacity: 1;
    color: #fff;
    background: #FF4136;
}

.slot::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.000001;
    transition: all .3s ease;
    background: #ddd;
}

.slot.loading::before {
    opacity: 1;
    animation: load 2s ease-in-out infinite;
}

@keyframes load {
    0% {
        background: #ddd;
    }
    50% {
        background: #bbb;
    }
    100% {
        background: #ddd;
    }
}