.wrapper {
    width: 100vw;
    margin-top: 20px;
    background: #fff;
}

@media (min-width: 400px) {
    .wrapper {
        width: 400px;
    }
}

.buttons {
    margin-top: 40px;
}

.buttons > * {
    display: block;
    text-align: center;
    margin: 10px auto 0;
}
